<html>
<head>
	<link rel="stylesheet" href="/static/styles.css"/>
	<title>Coffee Leaderboard</title>
</head>
<body>
	<div class="leaderboard__section header">
		<h2>Coffee Leaderboard</h2>
	</div>
	<div class="leaderboard__section">
		<h3 class="leaderboard__title">Today</h3>
		{% for entry in leaderboard.today %}
			<div class="leaderboard__row">
				<span class="number">{{entry.total}}</span>
				<span class="user">{{entry.user}}</span>
			</div>
		{% endfor %}
	</div>

	<div class="leaderboard__section">
		<h3 class="leaderboard__title">This Week</h3>
		{% for entry in leaderboard.week %}
			<div class="leaderboard__row">
				<span class="number">{{entry.total}}</span>
				<span class="user">{{entry.user}}</span>
			</div>
		{% endfor %}
	</div>

	<div class="leaderboard__section">
		<h3 class="leaderboard__title">All Time</h3>
		{% for stat in leaderboard.totals %}
			<div class="leaderboard__row">
				<span class="number">{{stat.total}}</span>
				<span class="user">{{stat.user}}</span>
				<a class="profile-link" href="/profile/{{stat.user}}">profile</a>		
			</div>
		{% endfor %}
	</div>

	<div class="leaderboard__section">
		<h3 class="leaderboard__title">Average Coffee Drunk by Weekday</h3>
		{{ average_chart|safe }}
	</div>
</body>
</html>
