<html>
<head>
    <link rel="stylesheet" href="/static/styles.css"/>
    <title>+XP | About</title>
</head>
<body>
    <div class="leaderboard__section header">
        <h2>Coffee Leaderboards | +XP | About</h2>
    </div>
    <div class="leaderboard__section">
        <h3 class="leaderboard__title">What is +XP?</h3>
        <p>
            <em>+XP</em> takes the base leaderboard system and adds a simple, experience-based "leveling" system on top of it.
        </p>

        <p>
            Now, every recorded cup of coffee grants the user experience points,
            which earn the user levels, achievements, etc.
        </p>
    </div>

</body>
</html>
